/*
* @Author: Haley-Zhu
* @Date:   2018-12-07 18:07:31
* @Last Modified by:   Haley-Zhu
* @Last Modified time: 2018-12-12 21:54:26
*/
h1 {
	color: blue;
	text-transform: uppercase;
}

h2 {
	font-size: 14px;
}

/*div {
	margin: 0 auto;
}*/
p {
	font-size: 12px;
	color: yellow;
	background-color: black;
	text-indent: 100px;
	text-transform: uppercase;
}

img {
	border: 2px solid red;
}

.clearfix:after {
	content:"."; 
	display:block; 
	height:0; 
	visibility:hidden; 
	clear:both; 
}


/*6.1*/
/*用两种方法来实现一个背景色为红色、宽度为960px的<DIV>在浏览器中居中*/

/*div {
	width: 960px;
	height: 40px;
	background-color: yellow;
	text-align: center;
	line-height: 40px;
}*/

div.method1{
	background-color: blue;
}

div.method2 {
	background-color: pink;
}

.method1 {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.method2 {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -480px;
	margin-top: -20px;
	/*transform: translate(-50%,-50%);      -----方法2*/
}
/*end*/

/*6.2*/
/*有的圆角矩形是复杂图案，无法直接用border-radius，请在不使用border-radius的情况下实现一个可复用的高度和宽度都自适应的圆角矩形 */
.border_self {
	margin: 0 auto;
}
.b1, .b2, .b3, .b4 {
	height: 1px;
}
.b2 {
	border-left: 2px solid black;
	border-right: 2px solid black;
}
.b3, .b4, .mid {
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.b1 {
	margin: 0 5px;
	background-color: black;
}
.b2 {
	margin: 0 3px;
}

.b3 {
	margin: 0 2px;
}
.b4 {
	margin: 0 1px;
	height: 2px;
}
.mid {
	height: 40px;
	text-align: center;
	line-height: 40px;
}
/*end*/

/*6.3*/
/*用两种不同的方法来实现一个两列布局，其中左侧部分宽度固定、右侧部分宽度随浏览器宽度的变化而自适应变化 */
/*method1*/
.left-fix1 {
	float: left;
	background-color: yellow;
	height: 50px;
	width: 400px;
}
.right-auto1 {
	margin-left: 400px;
	background-color: pink;
	height: 50px;
	width: auto;
}
/*method2*/
.left-fix2 {
	float: left;
	background-color: yellow;
	height: 50px;
	width: 400px;
}
.right-auto2 {
	float: left;
	background-color: pink;
	height: 50px;
	width: calc(100% - 400px);
}
/*end*/

/*6.4*/
/*用两种不同的方式来实现一个三列布局，其中左侧和右侧的部分宽度固定，中间部分宽度随浏览器宽度的变化而自适应变化*/
/*method1*/
.left64 {
	float: left;
	height: 50px;
	width: 200px;
	background-color: red;
}
.mid64 {
	float: left;
	height: 50px;
	width: calc(100% - 400px);
	background-color: green;
}
.right64 {
	float: right;
	height: 50px;
	width: 200px;
	background-color: red;
}

/*method2*/
.box642 {
	position: relative;
	width: 100%;
}
.left642 {
	position: absolute;
	height: 50px;
	width: 200px;
	background-color: blue;
}
.mid642 {
	position: absolute;
	left: 200px;
	height: 50px;
	width: calc(100% - 400px);
	background-color: grey;
}
.right642 {
	position: absolute;
	right: 0;
	height: 50px;
	width: 200px;
	background-color: blue;
}
/*end*/

/*6.5*/
/*实现一个浮动布局，红色容器中每一行的蓝色容器数量随着浏览器宽度的变化而变化 */
.box65 {
	width: 100%;
	height: 100%;
	background-color: red;
	overflow: hidden;
}
.blue-box {
	float: left;
	width: 60px;
	height: 40px;
	background-color: blue;
	margin: 10px;
}






